<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retirement Calculator</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <h1>Retirement Calculator</h1>
    <form class="form-table" th:action="@{/Calculate}" method="post">
        <label for="formInitialMoney">Initial Amount of Money</label><br>
        <input id="formInitialMoney"><br>

        <label for="formMonthlyContribution">Monthly contribution</label><br>
        <input id="formMonthlyContribution"><br>

        <label for="formInterestRate">Interest rate</label><br>
        <input id="formInterestRate"><br>

        <label for="formYearsInvesting">Years Investing</label><br>
        <input id="formYearsInvesting"><br>

        <input type="button" value="Calculate">


    </form>

</body>
</html>