<mat-table [dataSource]="courses">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nome do Curso </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Categoria do Curso </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.category}} 
        <mat-icon aria-hidden="false" aria-label="Categoria do Curso">{{element.category | category}}</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="action-column-header">
        <button mat-mini-fab color="primary" aria-label="Add a course" (click)="onAdd()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-column">
        <button mat-icon-button color="primary" aria-label="Edit a course">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label="remove course">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-header-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-header-row>
</mat-table>